*{
    background-color: rgba(33,32,36,255);
}

body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

button{
    background-color: rgba(49,48,52,255);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

button:hover{
    border: 0.5px solid rgba(255, 255, 255, 0.384)
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: rgba(23,22,22,255);
    border-top: 1px solid rgba(49,48,52,255);
}

header{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

html, body {
    height: 100%;
}

main{
    margin-top: 18.5%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.bloque1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

.bloque3{
    display: flex;
    justify-content: center;
}


.input{
    color: white;
    display: block;
    margin: auto;
    padding: 15px;
    width: 50%;
    border-radius: 25px;
    border: 2px solid rgba(49,48,52,255);
    margin-bottom: 20px;
}

.input:hover{
    background-color: rgba(49,48,52,255);
}

.footer-link{
    background-color: rgba(23,22,22,255);
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    text-decoration: none;
}

.footer-link:hover{
    text-decoration-line: underline;
}

.link{
    color: white;
    display:inline-block;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.link:hover{
    text-decoration-line: underline;
}

.logo{
    width: 20%;
}

.left-footer{
    align-items: center;
    background-color: rgba(23,22,22,255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.right-footer{
    align-items: center;
    background-color: rgba(23,22,22,255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#search{
    margin-right: 5px;
}
